

body  {
	background-color: black ;
	Color: red;
	font-size: 12pt;
	font-family: 'Questrial', sans-serif;
}

h1  { font-size: 250%;
font-weight: bold;
color: red;
}

h2  { font-size: 150%; font-style: italic;
 text-decoration: underline;
}

table, th, td {border: 1px solid black; border-collapse: collapse; }

th { background: white; }
